#content {
	max-width:					600px;
	margin:						0 auto 0 auto;
	text-align:					center;
	display:					block;
}

#errorMessage {
	display:					block;
	height:						20px;
	margin:						5px;
	text-align:					center;
	color:						red;
	font-size:					1.2em;
	font-weight:				200;
	font-style:					italic;
}

#signInMenu	{
	display:					block;
	width:						350px;
	height:						225px;
	margin:						10px auto 10px auto;
	border:						1px solid grey;
	border-radius:				5px;
	background-color: 			rgb(235, 245, 255);
	box-shadow:					0 0 10px rgba(0,0,0,0.4);
	border:						1px solid rgb(150, 150, 150);
	border-radius:				5px;
}

#signUpMenu	{
	display:					block;
	width:						350px;
	height:						370px;
	margin:						10px auto 10px auto;
	border:						1px solid grey;
	border-radius:				5px;
	background-color: 			rgb(235, 245, 255);
	box-shadow:					0 0 10px rgba(0,0,0,0.4);
	border:						1px solid rgb(150, 150, 150);
	border-radius:				5px;
}

.inputHeader	{
	display:					block;
	width:						300px;
	margin:						10px auto 5px auto;
	height:						20px;
	text-align:					center;
	color:						rgb(70, 100, 120);
	font-size:					1.7em;
	font-style:					normal;
	font-weight:				100;
	font-family:				'Pacifico', cursive;
}

.input {
	display:					inline-block;
	width:						270px;
	margin:						5px 5px 5px 25px;
	height:						25px;
	background-color: 			white;
	text-align:					center;
	font-size:					1.2em;
	font-style:					normal;
	font-weight:				300;
	font-family:				'Montserrat', sans-serif;
	box-shadow:					0 0 10px rgba(0,0,0,0.4);
	border:						1px solid rgb(150, 150, 150);
	border-radius:				5px;
}

.loginMarker	{
	display:					inline-block;
	width:						15px;
	height:						15px;
	margin:						0;
	border-radius:				50%;
	opacity:					0;
	background-color:			red;
}

.passwdMarker	{
	display:					inline-block;
	width:						15px;
	height:						15px;
	margin:						0;
	border-radius:				50%;
	opacity:					0;
	background-color:			red;
}

.passwdConfirmMarker	{
	display:					inline-block;
	width:						15px;
	height:						15px;
	margin:						0;
	border-radius:				50%;
	opacity:					0;
	background-color:			red;
}

.emailMarker	{
	display:					inline-block;
	width:						15px;
	height:						15px;
	margin:						0;
	border-radius:				50%;
	opacity:					0;
	background-color:			red;
}

.submit			{
	display:					inline-block;
	width:						150px;
	height:						40px;
	background-color:			white;
	border:						1px solid rgb(132, 174, 200);
	border-radius:				5px;
	margin:						15px auto;
	color:						rgb(70, 100, 120);
	font-size:					1.6em;
	font-style:					normal;
	font-weight:				100;
	font-family:				'Pacifico', cursive;
}

.submit:hover	{
	background-color:			rgb(215, 235, 250);
}

.submit:active	{
	background-color:			rgb(200, 220, 240);
}
