.content {
	width:					100%;
	margin:					0px;
	display:				grid;
	grid-template-columns:	7fr 3fr;
	text-align:				left;
}

.categoryTitleGrid {
	display:				grid;
	grid-template-columns:	1fr 50px 50px;
	width:					290px;
	margin:					0px auto 0px auto;
}

.title {
	display:				inline;
	color:					rgb(70, 100, 120);
	text-shadow:			0px 0px 2px rgba(26, 68, 94, 0.5), 0 0 1em rgba(26, 68, 94, 0.5);
	text-align: 			center;
	font-size:				1.7em;
	font-weight:			600;
	font-style:				italic;
	margin:					15px 0px 0px 0px;
}

.takeshot {
	display:				block;
	border-radius:			7px;
	width:					50px;
	height:					50px;
}

#upload {
	background-image: 		url(../img/upload.png);
	background-size:		100%;
}

input[type=file] {
	width:					100%;
	height:					100%;
	opacity:				0;
}

.takeshot:hover	{
	background-color: 		rgb(180, 180, 210);
	transition-delay:		0s;
	transition-duration:	0.4s;
	transition-timing-function: ease;
}

.takeshot:active	{
	background-color: 		rgb(150, 150, 180);
}

.snapMaker {
	width:					95%;
	display:				block;
	margin:					0px auto 5px auto;
	text-align:				center;
}

.preview {
	width:					100%;
	display:				block;
	margin:					0px auto 10px auto;
	padding:				10px 0px 10px 0px;
	background-color: 		rgb(235, 245, 255);
	box-shadow:				0 0 10px rgba(0,0,0,0.4);
	border-radius: 			20px;
	opacity:				1;
}

.snapTitle {
	display:				block;
	width:					80%;
	max-width:				450px;
	margin:					5px auto 15px auto;
	height:					40px;
	border:					none;
	background-color:		rgb(235, 245, 255);
	color:					rgb(70, 100, 120);
	font-family:			'Pacifico', cursive;
	font-weight:			100;
	font-style:				normal;
	text-align: 			center;
	font-size:				1.5em;
}

/* #snapTitle:active {
	border:				none;
} */

/* .preview img {
	display:				block;
	margin:					auto auto auto auto;
	width:					98%;
	max-width:				480px;
	max-height:				360px;
	border-radius:			30px;
} */

.stickers {
	width:					100%;
	display:				block;
	margin:					10px auto 0px auto;
	min-height:					50px;
	background-color: 		rgb(235, 245, 255);
	box-shadow:				0 0 10px rgba(0,0,0,0.4);
	border-radius: 			20px;
	opacity:				1;
}

.lastSnaps {
	width:					95%;
	display:				block;
	margin:					0px auto 5px auto;
	padding:				10px 0px 10px 0px;
	background-color: 		rgb(235, 245, 255);
	box-shadow:				0 0 10px rgba(0,0,0,0.4);
	border-radius: 			20px;
	text-align:				center;
}

.snapBox {
	display:				block;
	width:					95%;
	max-width:				300px;
	margin:					10px auto 10px auto;
	position:				relative;
}

.snap {
	display:				block;
	width:					100%;
	margin:					0px;
	border-radius: 			20px;
	z-index:				3;
	transition-delay:			0s;
	transition-duration:		0.4s;
	transition-timing-function: ease;
}

.deleteSnap {
	position:				absolute;
	display:				none;
	width:					70px;
	height:					70px;
	right:					5px;
	top:					5px;
	z-index:				4;
	opacity:				0;
	transition-delay:			0s;
	transition-duration:		0.4s;
	transition-timing-function: ease;
}

.snapBox:hover .snap {
	opacity:				0.8;
	transition-delay:			0s;
	transition-duration:		0.4s;
	transition-timing-function: ease;
}

.snapBox:hover .deleteSnap {
	display:				block;
	opacity:				0.4;
	transition-delay:			0s;
	transition-duration:		0.4s;
	transition-timing-function: ease;
}

.snapBox:hover .deleteSnap:hover {
	opacity:				0.75;
}

.snapBox:hover .deleteSnap:active {
	opacity:				1;
}

@media (max-width: 600px) {
	.content	{
		display:			block;
	}

	#lastSnaps img {
		max-width:			480px;
	}
}

.videoBox {
	position:				relative;
	width:					90%;
	max-width:				480px;
	display:				block;
	margin:					10px auto 0px auto;
}

#filter {
	position:				absolute;
	display:				none;
	left:					0px;
	right:					0px;
	height:					100%;
	z-index:				4;
}

#uploadPhoto {
	display:				none;
	position:				absolute;
	border-radius:			40px;
	left:					0px;
	right:					0px;
	height:					100%;
	z-index:				3;
}

#video {
	width:					100%;
	background-color:		grey;
	border-radius:			40px;
	z-index:				3;
}

#canvas {
	/* display:				none; */
	width: 90%;
}

.stickerGrid1 {
	display:				inline-grid;
	grid-template-columns:	1fr 1fr 1fr 1fr;
	width:					275px;
	margin:					10px 0px 5px auto;
}

.stickerGrid2 {
	display:				inline-grid;
	grid-template-columns:	1fr 1fr 1fr;
	width:					205px;
	margin:					5px auto 10px -5px;
}

.sticker {
	/* position:				absolute; */
	display:				inline-block;
	border:					1px solid rgb(165, 175, 185);
	width:					60px;
	height:					60px;
	border-radius:			10px;
	margin:					0px auto 0px auto;
	background-color:		rgb(205, 215, 225);
}

.radio {
	position:				absolute;
	/* -webkit-appearance:		none;
	-moz-appearance:		none;
	appearance:				none; */
	width:					1px;
	height:					1px;
	overflow:				hidden;
	clip:					rect(0 0 0 0);
}

.sticker:hover {
	background-color:		rgb(185, 195, 205);
	/* background-color:		black; */
}

.radio:checked + .sticker{
	/* background-color:		rgb(155, 175, 205); */
	background-color:		rgb(155, 165, 175);
	border-color:			rgb(125, 165, 185);
}

.sticker:active {
	background-color:		rgb(155, 165, 175);
}