.content {
	width:					100%;
	margin:					0px;
	display:				grid;
	grid-template-columns:	7fr 3fr;
	text-align:				left;
}

.categoryTitleGrid {
	display:				grid;
	grid-template-columns:	1fr 50px;
	width:					260px;
	margin:					0px auto 0px auto;
}

.title {
	display:				inline;
	color:					rgb(70, 100, 120);
	text-shadow:			0px 0px 2px rgba(26, 68, 94, 0.5), 0 0 1em rgba(26, 68, 94, 0.5);
	text-align: 			center;
	font-size:				1.7em;
	font-weight:			600;
	font-style:				italic;
	margin:					15px 0px 0px 0px;
}

.takeshot {
	display:				block;
	border-radius:			7px;
	width:					50px;
	height:					50px;
}

.takeshot:hover	{
	background-color: 		rgb(180, 180, 210);
	transition-delay:		0s;
	transition-duration:	0.4s;
	transition-timing-function: ease;
}

.takeshot:active	{
	background-color: 		rgb(150, 150, 180);
}

.snap {
	width:					95%;
	display:				block;
	margin:					0px auto 5px auto;
	text-align:				center;
}

#preview {
	width:					100%;
	display:				block;
	margin:					0px auto 10px auto;
	padding:				10px 0px 10px 0px;
	background-color: 		rgb(235, 245, 255);
	box-shadow:				0 0 10px rgba(0,0,0,0.4);
	border-radius: 			20px;
	opacity:				1;
}

#preview img {
	display:				block;
	margin:					auto auto auto auto;
	width:					98%;
	max-width:				480px;
	max-height:				360px;
	border-radius:			30px;
}

#stickers {
	width:					100%;
	display:				block;
	margin:					10px auto 0px auto;
	height:					90px;
	background-color: 		rgb(235, 245, 255);
	box-shadow:				0 0 10px rgba(0,0,0,0.4);
	border-radius: 			20px;
	opacity:				1;
}

#lastSnaps {
	width:					95%;
	display:				block;
	margin:					0px auto 5px auto;
	padding:				10px 0px 10px 0px;
	background-color: 		rgb(235, 245, 255);
	box-shadow:				0 0 10px rgba(0,0,0,0.4);
	border-radius: 			20px;
	text-align:				center;
}

#lastSnaps img {
	display:				block;
	width:					95%;
	max-width:				190px;
	margin:					10px auto 10px auto;
	border-radius: 			20px;
}

#lastSnaps img:hover {
	opacity:				0.85;
}

#lastSnaps img:active {
	opacity:				0.7;
}

@media (max-width: 600px) {
	.content	{
		display:			block;
	}

	#lastSnaps img {
		max-width:			500px;
	}
}

#video {
	/* max-width:				90%; */
	width:					90%;
	max-width:				480px;
	background-color:		black;
	/* max-height:				600px; */
	border-radius:			40px;
}

#canvas {
	display:				none;
	position:				absolute;
}