#snap {
	display:					none;
	width:						90%;
	max-width:					650px;
	min-width:					280px;
	text-align:					center;
	margin:						0px auto 0px auto;
}

#snapImg {
	display:					block;
	margin:						5px auto auto auto;
	border-radius:				10px;
	width:						95%;
	max-width:					480px;
}

#commentField {
	display:					block;
	resize: none;
	height:						75px;
	width:						95%;
	margin:						20px auto auto auto;
	/* height:						25px; */
	background-color: 			white;
	text-align:					center;
	font-size:					1.2em;
	font-style:					normal;
	font-weight:				300;
	font-family:				'Montserrat', sans-serif;
	box-shadow:					0 0 10px rgba(0,0,0,0.4);
	border:						1px solid rgb(150, 150, 150);
	border-radius:				5px;
}

input[type=submit] {
	display:					block;
	width:						150px;
	height:						35px;
	background-color:			white;
	border:						1px solid rgb(132, 174, 200);
	border-radius:				5px;
	margin:						8px auto 30px auto;
	color:						rgb(70, 100, 120);
	font-size:					1.6em;
	font-style:					normal;
	font-weight:				100;
	font-family:				'Pacifico', cursive;
}

input[type=submit]:hover	{
	background-color:			rgb(215, 235, 250);
}

input[type=submit]:active	{
	background-color:			rgb(200, 220, 240);
}

.comment {
	display:					block;
	width:						95%;
	background-color:			rgba(132, 33, 132, 0.2);
	color:						black;
	/* font-size:					1.1em; */
	font-style:					normal;
	font-weight:				300;
	font-family:				'Montserrat', sans-serif;
	margin:						13px auto 13px auto;
	border-radius:				3px;
	text-align:		left;
}

.commentBody {
	margin:						4px 8px 4px 8px;
	word-break:					break-all;
}

#more {
	display:					none;
	width:						80px;
	margin:						0px auto 0px auto;
	opacity:					0.6;
	transition-delay:			0s;
	transition-duration:		0.3s;
	transition-timing-function: ease;
}

#more:hover {
	opacity:					0.95;
	transition-delay:			0s;
	transition-duration:		0.3s;
	transition-timing-function: ease;
}

#more:active {
	opacity:					1;
}